# API del backend (sin slash final)
NUXT_PUBLIC_API_BASE=http://localhost:3001/api/v1

# Client ID de Google OAuth (Google Identity Services)
NUXT_PUBLIC_GOOGLE_CLIENT_ID=

# Dominio institucional permitido para iniciar sesión
NUXT_PUBLIC_INSTITUTIONAL_DOMAIN=undc.edu.pe
